.bg {
  position: fixed;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../assets/particles.gif');
}

.mid-section{
  position: fixed;
}
